@use "sass:map";
@use "@/shared/sass/constants";

.intro {
  display: flex;
  position: relative;
  background-position:
    50% -115px,
    center;
  background-repeat: no-repeat, no-repeat;
  background-size:
    330px auto,
    cover;
  min-height: 450px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      190.34deg,
      map.get(constants.$colors, "intro-gradient-start") 0%,
      map.get(constants.$colors, "intro-gradient-end") 79%
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    content: "";
  }

  &__content {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: end;
    z-index: 1;
    padding-bottom: 40px;
    height: 100%;

    @media screen and (min-width: map.get(constants.$breakpoints, "sm")) {
      align-items: start;
      justify-content: center;
      padding: 0;
      max-width: 420px;
    }

    @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
      padding: 0 0 30px;
      max-width: 725px;
    }
  }

  &__title {
    text-align: center;
    color: map.get(constants.$colors, "white");
    font-size: 36px;
    font-weight: 800;

    @media screen and (min-width: map.get(constants.$breakpoints, "sm")) {
      text-align: left;
      font-size: 48px;
    }

    @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
      font-size: 72px;
      font-weight: 900;
    }
  }

  &__title span {
    color: map.get(constants.$colors, "pink");
  }

  &__description {
    color: map.get(constants.$colors, "white");
    font-weight: 800;

    @media screen and (min-width: map.get(constants.$breakpoints, "sm")) {
      font-size: 22px;
    }

    @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
      font-size: 32px;
    }
  }

  &__description span {
    color: map.get(constants.$colors, "yellow");
  }

  @media screen and (min-width: map.get(constants.$breakpoints, "sm")) {
    background-position:
      125% center,
      center;
    min-height: 420px;
  }

  @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
    background-position:
      93% 67%,
      center;
    background-size: auto, cover;
    min-height: 490px;
  }
}
