@use "sass:map";
@use "@/shared/sass/constants";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: map.get(constants.$colors, "black");
  padding-bottom: 20px;
  height: 125px;

  &__text {
    color: map.get(constants.$colors, "yellow");
    font-size: 18px;
    font-weight: 800;

    @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
      font-size: 20px;
    }
  }
}
