@import-normalize;

body {
  margin: 0;
  background: #000;
  line-height: 1;
  font-family: Lato, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: border-box;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  appearance: none;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
  cursor: pointer;
  padding: 0;
  text-align: inherit;
  color: inherit;
  font: inherit;
}
