@use "sass:map";
@use "@/shared/sass/constants.scss";

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    190.34deg,
    map.get(constants.$colors, "blue-gradient-start") 0.28%,
    map.get(constants.$colors, "blue-gradient-end") 100%
  );
}

.main__container {
  padding: 0 20px;

  @media screen and (min-width: map.get(constants.$breakpoints, "sm")) {
    padding: 0 30px;
  }

  @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
    padding: 0 80px;
  }
}
