@use "sass:map";
@use "@/shared/sass/constants";

.header {
  $self: &;

  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: map.get(constants.$colors, "black");
  height: 48px;

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: map.get(constants.$colors, "black");
    width: 100%;
    height: 100%;
  }

  &__logo {
    width: 71px;

    @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
      width: 100%;
    }
  }

  &__burger {
    position: relative;
    width: 22.5px;
    height: 17px;

    @media screen and (min-width: map.get(constants.$breakpoints, "sm")) {
      display: none;
    }
  }

  &__burger-line {
    display: block;
    position: absolute;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      translatey 0.3s ease;
    border-radius: 1.5px;
    background-color: map.get(constants.$colors, "white");
    width: 22.5px;
    height: 2px;

    &:first-child {
      top: 0;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    &:last-child {
      bottom: 0;
      transform-origin: left center;
    }

    #{$self}__burger_open &:first-child {
      transform: rotate(35deg);
      width: 27px;
    }

    #{$self}__burger_open &:nth-child(2) {
      transform: translateX(10px);
      opacity: 0;
    }

    #{$self}__burger_open &:last-child {
      transform: rotate(-35deg);
      width: 27px;
    }
  }

  @media screen and (min-width: map.get(constants.$breakpoints, "sm")) {
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}
