@use "sass:map";
@use "@/shared/sass/constants";

.info {
  padding-bottom: 50px;

  &__title {
    color: map.get(constants.$colors, "white");
    font-size: 18px;
    font-weight: 800;

    @media screen and (min-width: map.get(constants.$breakpoints, "sm")) {
      font-size: 24px;
    }

    @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
      font-size: 32px;
    }
  }

  &__description {
    margin-top: 25px;
    line-height: 1.1;
    color: rgba(map.get(constants.$colors, "white"), 0.6);
    font-size: 14px;
    font-weight: 800;

    @media screen and (min-width: map.get(constants.$breakpoints, "sm")) {
      margin-top: 20px;
      font-size: 16px;
    }

    @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
      margin-top: 20px;
      font-size: 20px;
    }
  }

  &__details {
    margin-top: 5px;

    @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
      margin-top: 20px;
    }
  }

  &__summary {
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    color: map.get(constants.$colors, "yellow");
    font-size: 14px;
    font-weight: 800;

    &::marker {
      content: "";
    }

    @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
      font-size: 20px;
    }
  }

  @media screen and (min-width: map.get(constants.$breakpoints, "sm")) {
    padding-bottom: 55px;
  }

  @media screen and (min-width: map.get(constants.$breakpoints, "md")) {
    padding-bottom: 60px;
  }
}
