$breakpoints: (
  "xs": 360px,
  "sm": 768px,
  "md": 1248px,
);
$colors: (
  "pink": #ff70d9,
  "yellow": #ebff00,
  "blue": #304571,
  "black": #000,
  "white": #fff,
  "blue-gradient-start": #0d1e48,
  "blue-gradient-end": #304571,
  "intro-gradient-start": #0000,
  "intro-gradient-end": #0f1420c9,
);
